.firstscreen {
  background-image: url('../../images/firstscreen-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 85rem;
  width: 100%;
  &__content {
    padding-top: 18.3rem;
  }
  &__title {
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 120%;
    text-transform: uppercase;
    width: 70%;
    & span {
      color: var(--color-blue);
    }
  }
  &__info {
    margin: 8rem 0;
  }
  &__info-title {
    font-weight: 700;
    font-size: 2rem;
    line-height: 120%;
  }
  &__info-items {
    margin-top: 1rem;
  }
  &__info-item {
    font-size: 2rem;
    line-height: 120%;
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
    &::before {
      content: '';
      display: inline-block;
      width: 4.94px;
      height: 1.51px;
      background: #000;
      margin: 10px;
    }
  }
  &__button {
    width: 18.3rem;
    height: 4.3rem;
    font-size: 1.3rem;
    line-height: 123%;
    text-transform: uppercase;
    border-radius: 4px;
    transition: all 0.5s ease;
    &_colored {
      background: var(--color-blue);
      border: 1px solid #ffffff;
      color: #fff;
      margin-right: 3rem;
      &:hover {
        box-shadow: 0 0 30px 10px var(--color-blue);
      }
    }
    &_white {
      background: #fff;
      border: 1px solid #6f6d7b;
      color: #2a2b30;
      &:hover {
        box-shadow: 0 0 30px 10px #c3c3c3;
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  .firstscreen {
    height: 75rem;
    background-position: 70%;
  }
}
@media screen and (max-width: 992px) {
  .firstscreen {
    height: 70rem;
    &__info {
      margin: 4rem 0;
    }
  }
}
@media screen and (max-width: 700px) {
  .firstscreen {
    height: 65rem;
    &__title {
      width: 100%;
    }
  }
}
@media screen and (max-width: 640px) {
  .firstscreen {
    &__content {
      padding-top: 13rem;
    }
  }
}

@media screen and (max-width: 450px) {
  .firstscreen {
    height: 60rem;
    &__content {
      padding-top: 10rem;
    }
    &__title {
      text-align: center;
      font-size: 3.5rem;
    }
    &__info,
    &__buttons {
      text-align: center;
    }
    &__info-title,
    &__info-item {
      font-size: 1.8rem;
    }
    &__info-item {
      text-align: left;
    }
    &__button {
      width: 15rem;
      height: 3.9rem;
    }
  }
}
