.header {
  position: fixed;
  width: 100%;
  background: rgba(16, 16, 29, 0.9);
  padding: 3.35rem 0 3.15rem 0;
  z-index: 100;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    font-family: Raleway;
    font-size: 2.8rem;
    line-height: 118%;
    text-transform: uppercase;
    color: #fff;
    & span {
      color: #42a9ed;
    }
  }
  &__nav {
    display: flex;
  }
  &__burger {
    display: none;
  }
  &__nav-item:not(:last-child) {
    margin-right: 6rem;
  }
  &__nav-link {
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 123%;
    text-transform: uppercase;
    color: #fff;
    transition: all 0.5s ease;
    &_active {
      color: #43abf0;
    }
    &:hover {
      color: var(--color-hover-link);
    }
  }
}
.mobile-nav_open {
  right: 0 !important;
}

@media screen and (max-width: 640px) {
  .header {
    padding: 2rem 0;
    &__burger {
      display: block;
    }
    &__nav {
      position: absolute;
      top: 58.43px;
      right: -100%;
      flex-direction: column;
      align-items: center;
      background: rgba(16, 16, 29, 0.9);
      padding: 3rem;
      border-radius: 0 0 0 10px;
      transition: all 0.5s ease;
    }
    &__nav-item:not(:last-child) {
      margin-right: 0;
      margin-bottom: 2rem;
    }
    &__nav-link {
      font-size: 1.5rem;
    }
  }
}
