@mixin burger-menu {
  display: flex;
  flex-direction: column;
  width: 3rem;
  height: 2.5rem;
  position: relative;

  & span,
  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: all 0.5s ease;
  }
  & span {
    top: 50%;
    transform: translate(0, -50%);
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
}
